@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

    body {
        font-family: "Oswald", sans-serif;
        background: #424b4f;
        background: linear-gradient(90deg, rgba(66, 75, 79, 0.98) 0%, rgba(109, 138, 120, 0.89) 55%, rgba(117, 113, 111, 0.41) 100%);
    }

    
    .hero{
        display: flex;
        justify-content: space-around;
    }

    

    .hero div h2{
        font-size: 40px;
        font-weight: 900;
    }

    .hero div{
        width: 50%;
    }

    .btn{
        color: black;
        border: 1px solid black;
    }

    .btn:hover{
        background-color: red;
        color: black;
        border: 1px solid black;
    }

    .tragos-del-momento{
        text-align: center;
        width: 100%;
        height: 400px;
        background-image: url(../img/barras_tematicas.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: 5%;
        border: 2px solid black;
    }

    .destacados-contenedor{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .destacados-contenedor div:hover{
        animation: transformacion 3s infinite;
    }

     @keyframes transformacion{
        0%{
            border-radius: 0 0 0 0;
            background-color: rgba(138, 133, 133, 0.651);
        }
        50%{
            border-radius: 0 0 50% 50%;
            background-color: rgba(138, 133, 133, 0.815);
        }
        100%{
            border-radius: 0 0 50% 50%;
            background-color: rgb(138, 133, 133);
        }
     }

    .tragos-del-momento .destacados-contenedor div{
        width: 200px;
        height: 250px;
        margin: 10px;
        border-radius: 10px;
        border: 1px solid black;
        background-color: rgba(138, 133, 133, 0.651);
        
    }

    .tragos-del-momento h2{
        text-align: center;
        font-size: 35px;
        color: white;
        background-color: black;
        margin: 10px;
        padding: 10px;
        animation-name: slidein;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: 1;
        animation: ;
    }

    @keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0;
        width: 100%;
    }

    }

    .video- iframe{
        border: 3px solid black;
        width: 100%;
    }

    .video- p{
        color: rgba(68, 67, 67, 0.842);
        font-size: 15px;
        padding: 5px;
        margin-bottom: 10px;
    }

    footer{
        background-color: rgba(170, 170, 92, 0.678);
    }

    .main-random{
        min-height: 100%;
        background-image: url(../img/bar-ingles.jpg);
    }

    .boton-random{
        padding: 200px;
        display: flex;
        justify-content: center;
    }

    .boton-random a{
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 50px;
        background-color: black;
        padding: 20px;
        border-radius: 20px;
        transition: 1s;
    }

    .boton-random a:hover{
        background-color: white;
        color: black;
        border: solid 3px black;
        transform: scale(1.5);
    }

    .grid-galeria{
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 350px;
        gap: 15px; 
    }    

    .grid-item{
        text-align: center;
        border:  solid 2px black;
        border-radius: 10px;
    }

    .grid-galeria div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .grid-item{
        position: relative;
        transition-duration: 2s;
    }

    .grid-item:hover{
        border:  solid 2px red;
    }

    .grid-item h3{
        position: absolute;
        bottom: 0;
        background-color: rgba(87, 84, 84, 0.76);
        border-radius: 5px;
        padding: 5px;
        border:  solid 2px black;
    }

    .cajas div:nth-child(even){
        background-color: bisque;
    }

    .caja {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        border:  solid 1px rgba(56, 55, 55, 0.479);
    }

    .caja p{
        transition: 2s;
    }

    .caja p:hover{
        transform: scale(1.5);
        background-color: #424b4f;
        color: whitesmoke;
    }

    .caja img{
        width: 200px;
        height: auto;
        transition: 3.5s;
    }

    .caja img:hover{
        transform: rotateY(360deg);
    } 

    .texto_vaso{
        max-width: 600px;
        text-align: center;
        margin: 0 auto;
    }

    .herramientas1 div h2{
        font-size: 40px;
        font-weight: 900;
    }

    .herramientas2 div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .herramientas2{
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 350px;
        gap: 15px; 
        position: relative;
    }  
    
    .herramientas3{
        text-align: center;
        border:  solid 2px black;
        border-radius: 10px;
        overflow: hidden;
    }

    .herramientas3 h3{  
        bottom: 0;
        background-color: rgba(87, 84, 84, 0.76);
        border-radius: 5px;
        padding: 5px;
        border:  solid 2px black;
    }

    .herramientas3:hover{
        border:  solid 2px gray;
    }

    .metodos_tipos img{
        border: 3px solid black;
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .metodos_tipos div{
        text-align: center;
    }

    @media screen and (max-width:950px){
        /*header{
            flex-direction: column;
        }*/
    }
    
    @media screen and (max-width:870px){
       .hero img{
        display: none;
        }
        .hero div{
        width: 100%;
        text-align: center;
        }
        .grid-galeria{
        grid-template-columns: repeat(3, 1fr); 
        }
    }  
        
    @media screen and (max-width:490px){
        .grid-galeria{
        grid-template-columns: repeat(2, 1fr);
        }
    }

    